header {
    background-color: #ADD8E6; /* Light blue */
}

header h1 {
    color: #7289b4;
}

nav {
    border-bottom: 2px solid black;
}

nav ul li a {
    font-size: 18px;
}

footer {
    text-align: center;
}

.box {
    background-color: lightgrey; /* Light grey */
    padding: 20px;
}
